/* Smartphones (portrait and landscape) ----------- */

/* Styles */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .search_bar {
    display: none;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #nav_search {
    display: flex;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .ps_indicators_y > .carousel-indicators {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .main_slider {
    height: 250px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  #Ads_banner {
    height: 75px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .Product-details_ {
    flex-direction: column;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  .EXtra {
    display: none;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  Visible_ {
  }
}

/* Smartphones (landscape) ----------- */

/* Styles */

/* Smartphones (portrait) ----------- */

/* Styles */

/* iPads (portrait and landscape) ----------- */

/* Styles */

/* iPads (landscape) ----------- */

/* Styles */

/* iPads (portrait) ----------- */

/* Styles */

/* Desktops and laptops ----------- */

/* Styles */

/* Large screens ----------- */

/* Styles */

