.brands {
  color: #313437;
  background-color: #fff;
}

.brands a {
  display: block;
  text-align: center;
  padding: 40px 0;
}

@media (max-width:767px) {
  .brands a {
    padding: 30px 0;
  }
}

.brands a img {
  display: inline-block;
  margin: 10px 20px;
  vertical-align: middle;
}

.container {
}

#navbar_section {
  height: 99 px;
  padding: 0px;
}

#footer_section {
  padding: 150px;
}

.imgManin {
  width: 100%;
  height: 100vh;
  padding-top: 0px;
}

.btn.btn-primary.login {
  border-radius: 10%;
  margin: 6px;
}

.carousel-indicators {
}

#menu_tipo {
  background: red;
}

#button_tipo_negocio {
  background: #fec503 !important;
  color: white;
}

#button_tipo_propiedad {
  background: #fec503 !important;
  color: white !important;
}

form {
}

#button_cat_propiedad {
  background: #fec503 !important;
  color: white !important;
}

.input-group {
  font-size: 11px !important;
}

#search_tipo_negocio {
  color: red !important;
}

.form-control.button_search {
}

#search_cat_propiedad {
}

.form-control.button_search {
  color: red !important;
}

.btn.button_search.btn-extremo-derecho {
  background: #fec503 !important;
}

div {
}

.carousel-inner {
}

.search_bar {
  position: absolute;
  bottom: 50%;
  right: 5%;
  left: 19%;
}

#Ads_banner {
  width: 100%;
  height: 150px;
}

#Discount {
  width: 100%;
  height: 200px;
}

Slider_FA {
  height: 200px !important;
  width: 60vh !important;
}

#mainNav {
  position: relative;
}

#button_tipo_negocio {
}

#Ads_banner {
}

#main_sl {
}

.main_slider {
  width: 100vh;
  height: 510px;
}

Slider_FA {
  height: 500px !important;
  width: 100% !important;
}

.Slider_FA {
  width: 100% !important;
  display: flex;
}

.swiper-slide {
  width: 60vh !important;
  height: 200px !important;
}

.background_img {
  background: url('../../../img/sites/2020-01-05.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  width: 130px !important;
  height: 180px!important;
}

#allowTo {
  opacity: 20%;
}

.list_Det {
  margin: 5px;
  list-style-type: none;
  padding: 0px;
}

.list_Det p {
  color: rgb(169,169,169) !important;
}

.btn.btn-primary.btn-border {
  /*border-bottom: 2px solid #fec503;*/
}

.btn-border-active {
  border-bottom: 1px solid #f3bd01;
}

.btn-border {
  background-color: white;
  border: none;
  color: black;
}

.btn-border:action .btn-border:focus .btn-border:hower {
  background-color: red !important;
}

._detalis {
  display: flex;
  justify-content: space-between;
}

.amount_ {
  display: flex;
}

.AllowButtonS {
  display: flex;
}

.input-group-text {
}

._Input_private {
  background-color: #fec503;
  color: white;
}

#from-name {
}

#from-name {
}

._Text_private {
  border-color: #fec503;
}

#Main_ {
  margin-right: 10%;
  margin-left: 10%;
  padding: 0px;
}

._Nav-Histroy {
  background-color: white;
  color: #f3bd01;
  border: none;
  font: 20px solid;
}

._action {
  border-bottom: 3px solid;
}

.Img_histroy_card {
  max-width: 250px;
  height: 200px;
}

.card_row {
  display: flex;
}

.img_map {
  width: 100%;
}

#input-grp-double-2 {
}

._radioButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  /*margin: 1%;*/
}

._term {
  display: flex;
  align-items: center;
}

.border_OR {
  width: 318px;
  border: 2px solid rgb(204,196,196);
}

#search_nav {
  height: 35px;
  margin: 2%;
  padding: 2%;
  margin-right: 0px;
  width: 290px;
}

#nav_search {
  justify-content: center;
  align-items: center;
  display: none;
}

.fa.fa-search {
}

.Slider_button {
  color: rgb(150,150,150) !important;
}

.col-8.Div_Product-details {
  height: auto;
  width: 100%;
  max-width: 100% !important;
  flex: 0 0 100%;
}

.Product-details_ {
  display: flex;
  justify-content: space-between;
}

#Main_body {
  margin: 5%;
  margin-top: 0px;
  padding: 0px;
}

._img_col {
  min-width: 0px;
  width: 100%;
}

#Main_Body {
  padding: 0px;
  margin: 4%;
}

