
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_View_site.cshtml";
}

<section id="Main_body">
    <p style="margin: 1%;"><a href="#">Home</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">Search Halls</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">____</a></p>
    <div class="d-flex flex-column justify-content-center align-items-center align-content-center" id="about">
        <div id="para" style="filter: invert(0%);">
            <h1 class="text-center" style="font-family: Belgrano, serif;font-size: 60px;">About us</h1>
            <p class="text-center" style="margin: 20px;padding: 5px;">We have made it easy for everyone to book<br>a banquet for any kind of event. You can<br>register your banquet on our website so<br>that people can book it through our website.<br>To register your banquet on our website,<br>simply contact at banquetbooking@gmail.com<br>and you can get latest news about those<br>banquets which are register on our website<br>and all detail about their latest offers<br>on our Social Network account. For this<br>please visit our social handles.</p>
        </div>
        <div id="Socialbtn" class="SocialMedia" style="margin: 10px;padding: 10px ;">
            <ul>
                <li><a href="#"><img id="fb" class="Invert" src="~/img/sites/Facebook.png"></a></li>
                <li><a href="#"><img id="tw" class="Invert" src="~/img/sites/Twitter-1.png"></a></li>
                <li><a href="#"><img id="ig" class="Invert" src="~/img/sites/Instagram.png"></a></li>
                <li><a href="#"><img id="yt" class="Invert" src="~/img/sites/Youtube.png"></a></li>
            </ul>
        </div>
    </div>
</section>

