
@{
    ViewBag.Title = "Confirmed";
    Layout = "~/Views/Shared/_View_site.cshtml";
}
<section id="Main_Body" style="padding: 0px;margin-left: 10%;margin-right: 10%;display: flex;flex-direction: column;justify-content: center;">
    <p style="margin: 1%;"><a href="#">Home</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">Search Halls</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">____</a></p>
    <div class="table-responsive" style="width: auto;max-width: 850px;">
        <table class="table">
            <thead style="border-bottom: 3px solid #f3bd01 !important;">
                <tr>
                    <th><strong>Details</strong></th>
                    <th colspan="2">Charges</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="width: 15%;">
                        _________________<br>
                        <p style="width: 400px;"><a href="#"><br><strong>Deluxe Double Room</strong>.<br></a>Air-conditioned rooms come with a satellite TV, a minibar and a modern bathroom with free toiletries.<br><br></p>
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                            <li>Item 4</li>
                        </ul>
                        <hr>
                        <p style="display: flex;align-items: center;flex-direction: row;"><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span></p>
                        <p style="display: flex;align-items: center;flex-direction: row;"><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span></p>
                        <p style="display: flex;align-items: center;flex-direction: row;"><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span><span style="/*display: flex;*//*flex-direction: row;*/width: 130.9px;"><i class="fa fa-check" style="margin: 1%;"></i><span>Free toiletries<br></span></span></p>
                    </td>
                    <td>
                        <div class="_detalis">
                            <p><i class="fa fa-star"></i>&nbsp;dhwidh</p>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <div class="_detalis">
                            <p><i class="fa fa-star"></i>&nbsp;dhwidh</p>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <div class="_detalis">
                            <p><i class="fa fa-star"></i>&nbsp;dhwidh</p>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <div class="_detalis">
                            <p class="_counter_p"><i class="fa fa-star"></i>&nbsp;wdiqwqwi&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="btn btn-primary Btn_Counter" type="button">+</button>1<button class="btn btn-primary Btn_Counter" type="button">-</button></p>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <hr>
                        <div class="_detalis">
                            <strong>Sub - Total</strong>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <div class="_detalis">
                            <strong>Discount</strong>
                            <p class="amount_"><strong>$ 55,610</strong></p>
                        </div>
                        <div class="_detalis">
                            <strong style="font-size: xx-large;">Total</strong>
                            <p class="amount_" style="font-size: xx-large;border-bottom: 1px solid #f3bd01;"><strong>$ 55,610</strong></p>
                        </div><button class="btn btn-primary AllowButtonS" type="button" style="margin-left: auto;margin-right: 0px;"  onclick="location.href = '@Url.Content("../Site/index")';" >Confirm</button><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <section style="padding: 0px;">
        <div class="table-responsive" style="max-width: 850px;height: AUTO;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Other deals</th>
                        <th>details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Company 1</td>
                        <td>details 1</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </section>
</section>

