
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_View_site.cshtml";
}

<div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="d-flex flex-column justify-content-center" id="login-box" style="max-width: 65%;">
                    <div class="d-xl-flex justify-content-xl-center" style="margin: 42px;"><a class="navbar-brand" href="./index.html">Banquet Booking</a></div>
                    <hr style="width: 100%;margin-bottom: 3px;margin-top: 0px;">
                    <section class="display_inline_block">
                        <section id="Local_Login" style="padding: 0px;">
                            <div class="login-box-header">
                                <h4 class="Heading_Login">Login</h4>
                            </div>
                            <div class="email-login" style="background-color: #ffffff;"><input type="email" class="email-imput form-control" style="margin-top: 10px;" required="" placeholder="Email" minlength="6"><input type="password" class="password-input form-control" style="margin-top: 10px;" required="" placeholder="Passwords" minlength="6"></div>
                            <div class="submit-row" style="margin-bottom: 8px;padding-top: 0px;">
                                <a class="btn btn-primary btn-block box-shadow" role="button" id="submit-id-submit" href="1.b.Ingresado.html" style="background-color: #ff8000;font-size: 20px;padding-top: 5px;">Login</a>
                                <div class="d-flex justify-content-between">
                                    <div class="form-check form-check-inline" id="form-check-rememberMe"><input class="form-check-input" type="checkbox" id="formCheck-1" for="remember" style="cursor: pointer;" name="check"><label class="form-check-label" for="formCheck-1"><span class="label-text">Remember me</span></label></div><a id="forgot-password-link" href="ErrorCanito.html">Forget password ?&nbsp;</a>
                                </div>
                            </div>
                        </section>
                        <div class="d-flex flex-row align-items-center login-box-seperator-container" id="OR">
                            <span class="login-box-seperator"></span>
                            <div class="login-box-seperator-text">
                                <p style="margin-bottom: 0px;padding-left: 10px;padding-right: 10px;font-weight: 400;color: rgb(201,201,201);">OR</p>
                            </div><span class="login-box-seperator"></span>
                        </div>
                        <div class="login-box-header" style="padding-top: 0;">
                            <div id="Social_Media" class="login-box-content" style="max-width: auto;padding: 1%;">
                                <div class="login-box-header">
                                    <h1 class="Heading_Login">Social Login</h1>
                                </div>
                                <div id="SocialLogin_" class="fb-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" href="ErrorCanito.html"><i class="fa fa-facebook" style="margin-left:0px;padding-right:20px;padding-left:22px;width:56px;"></i>Facebook</a></div>
                                <div id="SocialLogin_" class="gp-login box-shadow"><a class="d-flex flex-row align-items-center social-login-link" style="margin-bottom:10px;" href="ErrorCanito.html"><i class="fa fa-google" style="color:rgb(255,255,255);width:56px;"></i>&nbsp;Gmail</a></div>
                            </div>
                        </div>
                    </section>
                    <div class="d-flex d-xl-flex justify-content-xl-center" id="login-box-footer" style="padding: 10px 20px;padding-bottom: 78px;padding-top: 0px;"><a href="#" style="color: #ff8000;font-size: 20px;">Do you wants to be a member? Regístrate<br></a></div>
                </div>
            </div>
        </div>
    </div>
</div>

