
@{
    ViewBag.Title = "Product_details";
    Layout = "~/Views/Shared/_View_site.cshtml";
}
<section id="Main_body">
    <p style="margin: 1%;"><a href="#">Home</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">Search Halls</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">____</a></p>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12"><img class="img-thumbnail img-fluid center-block _img_col" src="~/img/sites/download.jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block _img_col" src="~/img/sites/download%20(1).jpg"></div>
                        <div class="col-6 col-sm-6 col-md-6"><img class="img-thumbnail img-fluid center-block _img_col" src="~/img/sites/download%20(2).jpg"></div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-6 col-md-6 offset-3"><img class="img-thumbnail img-fluid center-block _img_col" src="~/img/sites/download%20(3).jpg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-8" id="OverviewContainer">
                    <p style="overflow: auto;"><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui dicta minus molestiae vel beatae natus eveniet ratione temporibus aperiam harum alias officiis assumenda officia quibusdam deleniti eos cupiditate dolore doloribus<br>guqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq<br></p>
                </div>
                <div class="col" id="BasicDetailContainer" style="background: rgba(0,178,255,0.45);">
                    <div id="Location" class="Inline_img-p_C ,">
                        <img class="BasicInfoLogo" src="~/img/sites/Location.png">
                        <p class="Padding5px">Location of the halls</p>
                    </div>
                    <div id="Capacity" class="Inline_img-p_C">
                        <i class="fa fa-star BasicInfoLogo" style="font-size: xx-large;"></i>
                        <p class="Padding5px">Capacity of the hall</p>
                    </div>
                    <div id="Specialty">
                        <h1 style="font-size: 30px;">Speciallity</h1>
                        <p class="Padding30px">Birthday, Annual Events</p>
                        <div id="Timing">
                            <h1 style="font-size: 30px;">Timing</h1>
                            <div id="DayTiming" class="Inline_img-p_C">
                                <img class="BasicInfoLogo2" src="~/img/sites/Sun.png">
                                <h1 class="Padding5px" style="font-size: 20px;">Day Timing</h1>
                            </div>
                            <div id="Day">
                                <p class="Padding30px">10am to 1pm</p>
                            </div>
                            <div id="NightTiming" class="Inline_img-p_C">
                                <img class="BasicInfoLogo2" src="~/img/sites/Moon.png">
                                <h1 class="Padding5px" style="font-size: 20px;">Night Timing</h1>
                            </div>
                            <div id="Night">
                                <p class="Padding30px">8pm to 12am</p>
                            </div>
                        </div>
                        <div id="Book-Now"><button class="btn btn-primary" id="BookNow" type="button" style="background: var(--gray-dark);border-color: var(--gray-dark);">Book Now</button></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="AvailabilityHeading">
            <h1 class="CenterPosition" style="text-align: left;">Availibility</h1>
            <div id="InsideAvailability" style="background: #ffd11a;">
                <div class="Inline_img-p_C" style="background: transparent;">
                    <div class="dropdown" style="padding-top: 5px;">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--gray-dark);padding-top: 5px;border-color: var(--gray-dark);margin-left: 150px;padding-bottom: 5px;">Check Scedule</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </div><label class="MarginLabel" style="margin-left: 15px;padding-top: 10px;padding-right: 5px;">People</label>
                    <div class="dropdown" style="padding-top: 5px;">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--gray-dark);padding-top: 5px;border-color: var(--gray-dark);padding-bottom: 5px;">200 to 400</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </div><label class="MarginLabel" style="padding-top: 10px;padding-right: 5px;margin-left: 15px;">Event Type</label>
                    <div class="dropdown" style="padding-top: 5px;">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--gray-dark);padding-top: 5px;border-color: var(--gray-dark);padding-bottom: 5px;">Birthday</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </div><label class="MarginLabel" style="padding-top: 10px;padding-right: 5px;margin-left: 15px;">Timing Available</label>
                    <div class="dropdown" style="padding-top: 5px;">
                        <button class="btn btn-primary dropdown-toggle" aria-expanded="false" data-toggle="dropdown" type="button" style="background: var(--gray-dark);padding-top: 5px;border-color: var(--gray-dark);padding-bottom: 5px;">10am to 12pm</button>
                        <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second Item</a><a class="dropdown-item" href="#">Third Item</a></div>
                    </div>
                </div>
                <div style="text-align: center;"><button class="btn btn-primary" type="button" style="border-color: var(--gray-dark);background: var(--gray-dark);padding-top: 5px;padding-bottom: 5px;margin-top: 80px;margin-right: 0px;padding-right: 15px;padding-left: 15px;"  onclick="location.href = '@Url.Content("../Site/Confirmed")';" >Confirm Booking</button></div>
            </div>
        </div>
    </div>
</section>

