
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_View_site.cshtml";
}

<section style="padding: 0px;">
    <div id="multple-step-form-n" class="container overflow-hidden" style="margin-top: 0px;margin-bottom: 10px;padding: 56px 10px 3px;padding-bottom: 50%;padding-top: 57px;height: auto;max-height: auto;">
        <div id="progress-bar-button" class="multisteps-form">
            <div class="row">
                <div class="col-12 col-lg-8 ml-auto mr-auto mb-4">
                    <div class="multisteps-form__progress"><a class="btn multisteps-form__progress-btn js-active" role="button" title="User Info">User Info</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">About</a><a class="btn multisteps-form__progress-btn" role="button" title="User Info">Contact&nbsp;</a></div>
                </div>
            </div>
        </div>
        <div id="multistep-start-row" class="row">
            <div id="multistep-start-column" class="col-12 col-lg-8 m-auto">
                <form id="main-form" class="multisteps-form__form">
                    <div id="single-form-next" class="multisteps-form__panel shadow p-4 rounded bg-white js-active" data-animation="scaleIn">
                        <h3 class="text-center multisteps-form__title">User Info</h3>
                        <div id="form-content" class="multisteps-form__content">
                            <div id="input-grp-double" class="form-row mt-4">
                                <div class="col-12 col-sm-6"><input class="form-control multisteps-form__input" type="text" placeholder="First name "></div>
                                <div class="col-12 col-sm-6 mt-4 mt-sm-0"><input class="form-control multisteps-form__input" type="text" placeholder="Last name "></div>
                            </div>
                            <div id="input-grp-single" class="form-row mt-4">
                                <div class="col-12" style="padding: 1%;">
                                    <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="font-weight: bolder;margin-left: 14px;">Only one</label></div>
                                </div>
                                <div style="display: flex;/*justify-content: center;*/align-items: center;">
                                    <span class="border_OR"></span>
                                    <p style="font-weight: bolder;margin-top: 12px;margin-right: 12px;margin-left: 12px;">OR</p><span class="border_OR"></span>
                                </div>
                                <div class="col-12 _radioButton"><input type="radio" style="margin-right: 3%;"><input class="form-control multisteps-form__input" type="text" placeholder="No of halls"></div>
                            </div>
                            <div id="next-button" class="button-row d-flex mt-4"><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev-1" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="height: auto;">
                        <h3 class="text-center multisteps-form__title" style="margin-bottom: 0px;">About</h3>
                        <div id="form-content-2" class="multisteps-form__content">
                            <div id="input-grp-double-2" class="form-row mt-4">
                                <div class="col-12 col-sm-6"><input class="form-control multisteps-form__input" type="text" placeholder="First name " style="width: 680px;"></div>
                            </div>
                            <div id="input-grp-single-2" class="form-row mt-4">
                                <div class="col-12"><img class="img_map" src="~/img/sites/GoogleMapTA.jpg"></div>
                            </div>
                            <div id="next-prev-buttons-1" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Next</button></div>
                        </div>
                    </div>
                    <div id="single-form-next-prev_2" class="multisteps-form__panel shadow p-4 rounded bg-white" data-animation="scaleIn" style="min-height: 0;max-height: auto;height: auto;">
                        <h3 class="text-center multisteps-form__title">Contact</h3>
                        <div id="form-content-1" class="multisteps-form__content">
                            <div id="input-grp-double-1" class="form-row mt-4"><input class="form-control multisteps-form__input" type="text" placeholder="Contact Number"><input class="form-control multisteps-form__input" type="text" placeholder="Email" style="margin-top: 2%;"></div>
                            <div id="input-grp-single-1" class="form-row mt-4">
                                <div class="col-12 _term">
                                    <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1"><label class="form-check-label" for="formCheck-1" style="color: rgb(0,117,255);">Agree Term and condition</label></div><a href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none">
                                            <path d="M3 9C2.44772 9 2 9.44772 2 10C2 10.5523 2.44772 11 3 11H21C21.5523 11 22 10.5523 22 10C22 9.44772 21.5523 9 21 9H3Z" fill="currentColor"></path>
                                            <path d="M3 13C2.44772 13 2 13.4477 2 14C2 14.5523 2.44772 15 3 15H15C15.5523 15 16 14.5523 16 14C16 13.4477 15.5523 13 15 13H3Z" fill="currentColor"></path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div id="next-prev-buttons" class="button-row d-flex mt-4"><button class="btn btn btn-primary js-btn-prev" type="button" title="Prev">Prev</button><button class="btn btn btn-primary ml-auto js-btn-next" type="button" title="Next">Submit</button></div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
