
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_View_site.cshtml";
}
<section id="Main_body" style="padding-top: 0px;padding-bottom: 0px;padding-left: 1%;">
    <p style="margin: 1%;"><a href="#">Home</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">Search Halls</a><strong>&nbsp; &nbsp;&gt;&nbsp; &nbsp;</strong><a href="#">____</a></p>
    <div class="container">
        <div class="row">
            <div class="col-md-3 products_private">
                <div class="d-none d-md-block">
                    <div class="filters">
                        <div class="filter-item">
                            <h3>Events:</h3>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-1">Shadi</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-2">party</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label" for="formCheck-3">PC</label></div>
                        </div>
                        <div class="filter-item">
                            <h3>Time</h3>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-15"><label class="form-check-label" for="formCheck-6">10&nbsp; am- 1 pm</label></div>
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-16"><label class="form-check-label" for="formCheck-7">9 pm&nbsp; - 12 am</label></div>
                        </div>
                        <div class="filter-item"></div>
                    </div>
                </div>
                <div class="d-md-none">
                    <a class="btn btn-link d-md-none filter-collapse" data-toggle="collapse" aria-expanded="false" aria-controls="filters" href="#filters" role="button">Filters<i class="icon-arrow-down filter-caret"></i></a>
                    <div class="collapse" id="filters">
                        <div class="filters">
                            <div class="filter-item">
                                <h3>Events:</h3>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-10"><label class="form-check-label" for="formCheck-1">Shadi</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-11"><label class="form-check-label" for="formCheck-2">party</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-12"><label class="form-check-label" for="formCheck-3">PC</label></div>
                            </div>
                            <div class="filter-item">
                                <h3>Time</h3>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-15"><label class="form-check-label" for="formCheck-6">10&nbsp; am- 1 pm</label></div>
                                <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-16"><label class="form-check-label" for="formCheck-7">9 pm&nbsp; - 12 am</label></div>
                            </div>
                            <div class="filter-item"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div><input type="text" style="width: 90%;height: 40px;" placeholder="Search"><button class="btn btn-primary" type="button" style="height: 38px;margin-top: 0px;width: 10%;">Search</button></div>
                <h3 id="result_count">___________(709 found)</h3>
                <div class="products_private">
                    <div class="row no-gutters">
                        <div class="col-12 col-md-6 col-lg-4 products_private" style="margin: 1%;padding: 1%;">
                            <div class="clean-product-item">
                                <div class="image" style="background-image: url('./img/sites/1.jpg');background-repeat: no-repeat;background-position: center;background-size: cover;height: 200px;">
                                    <a href="#">
                                        <div class="div_space"></div>
                                    </a>
                                </div>
                                <div class="product-name"><a href="#"><br>Islamabad Serena Hotel welcomes guests with an outdoor swimming pool and relaxing spa treatments.<br><br></a></div>
                                <div class="about">
                                    <div class="rating_Private"><img class="img_rating" src="~/img/sites/star.svg" style="max-height: 20px;min-height: 0px;"><img class="img_rating" src="~/img/sites/star.svg" style="max-height: 20px;min-height: 0px;"><img class="img_rating" src="~/img/sites/star.svg" style="max-height: 20px;min-height: 0px;"><img class="img_rating" src="~/img/sites/star-half-empty.svg" style="max-height: 20px;min-height: 0px;"><img class="img_rating" src="~/img/sites/star-empty.svg" style="max-height: 20px;min-height: 0px;"></div>
                                    <div class="price_button"><button class="btn btn-primary btn_left" type="button" style="margin-left: auto;margin-right: 0px;" onclick="location.href = '@Url.Content("../Site/Product_details")';" >Book now</button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<nav style="margin-left: auto;display: flex;justify-content: center;">
    <ul class="pagination">
        <li class="page-item disabled"><a class="page-link" href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
        <li class="page-item active"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#" aria-label="Next"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>

